/build/
/config/
/dist/
node_modules/
/.husky/
build
tests/
docs/**
/*.js
/*.ts
/*.json

docs/yarn.lock
docs/package-lock.json

# Log files
*.log
*.log.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vite.config.ts
