# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*
docs/.vuepress/dist
docs/.vuepress/.cache
docs/.vuepress/.temp
# Bundle
dist
coverage
packages/cz-coco/version.ts

# local env files
*.local
