@use 'sass:map';
@use './common/vars.scss' as *;
@use './mixins/button' as *;
@use './mixins/mixins.scss' as *;
@use './mixins/utils.scss' as *;
@use './mixins/var' as *;

@include b(card) {
  @include set-component-css-var('card', $card);
}
@include b(card) {
  margin: 15px;
  width: 50%;
  height: 500px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}