.cz-carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .cz-carousel {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.5s;
    &__item {
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
    &__img {
      width: 100%;
      height: 100%;
      background-repeat: repeat-x;
    }
    &__arrow {
      position: absolute;
      width: 100%;
      height: 30px;
      display: none;
      align-items: center;
      transition: 2s;
      justify-content: space-between;
      top: 50%;
      &-pre {
        margin-left: 10px;
      }
      &-pre,&-next {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.2);
      }
      &-next {
        margin-right: 10px;
      }
      &-pre:hover, &-next:hover{
        cursor: pointer;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.5);
        transition: 0.3s;
      }
    }
  }
  .cz-indicator {
    position: absolute;
    bottom: 10px;
    display: flex;
    //background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    &__item {
      width: 10px;
      height: 10px;
      border: 2px solid #ccc;
      border-radius: 50%;
      margin: 0 10px;
    }
    &__item:hover {
      cursor: pointer;
    }
    &__active {
      background: #fff;
      border-color: #fff;
    }
  }
}