@use './mixins/vars.scss' as *;
.cz-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #409eff;
  border: #409eff;
  border-color: #409eff;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  &--primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      opacity: 0.8;
      color: #fff;
    }
  }
  &--success {
    color: #fff;
    background-color: $success;
    border-color: $success;
    &:hover {
      opacity: 0.8;
      background-color: $success;
      color: #fff;
    }
  }
  &--danger {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
    &:hover {
      color: #fff;
      border-color: $danger;
      opacity: 0.8;
    }
  }
  &--info {
    color: #fff;
    background-color: $info;
    border-color: $info;
    &:hover {
      color: #fff;
      border-color: $info;
      opacity: 0.8;
    }
  }
  &--warning {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
    &:hover {
      color: #fff;
      border-color: $warning;
      opacity: 0.8;
    }
  }
  &--text {
    border-color: transparent;
    color: #409eff;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
  }
  // 禁止
  .is-disabled{
    color: #fff;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ebeef5;
  }
  &--default.is-disabled{
    color: #c0c4cc;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ebeef5;
  }
  &--primary.is-disabled{
    color: #fff;
    background-color: #a0cfff;
    border-color: #a0cfff;
  }
  &--success.is-disabled{
    color: #fff;
    background-color: #b3e19d;
    border-color: #b3e19d;
  }
  &--danger.is-disabled{
    color: #fff;
    background-color: #fab6b6;
    border-color: #fab6b6;
  }
  &--info.is-disabled{
    color: #fff;
    background-color: #c8c9cc;
    border-color: #c8c9cc;
  }
  &--warning.is-disabled{
    color: #fff;
    background-color: #f3d19e;
    border-color: #f3d19e;
  }
  &--text.is-disabled{
    cursor: no-drop;
    color: #555;
    border: 1px solid #fff;
    background: none;
    opacity: .5;
  }
  // 圆角
  .is-round{
    border-radius: 20px;
  }
  // 圆
  .is-circle{
    border-radius: 50%;
    padding: 12px;
  }
  .icon-loading{
    display: inline-block;
    margin-right: 4px;
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
  }
  
  @keyframes rotating {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &--medium{
    padding: 10px 20px;
    font-size: 14px;
  }
  &--small{
    padding: 9px 15px;
    font-size: 12px;
  }
  &--mini{
    padding: 7px 15px;
    font-size: 12px;
  }

}