@use 'sass:map';
@use './common/vars.scss' as *;
@use './mixins/button' as *;
@use './mixins/mixins.scss' as *;
@use './mixins/utils.scss' as *;
@use './mixins/var' as *;

@include b(message) {
  @include set-component-css-var('button', $button);
}
@include b(message) {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: getCssVar('border-radius-base');
  border-width: getCssVar('border-width');
  border-color: getCssVar('message', 'border-color');
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: getCssVar('message', 'bg-color');
  transition: opacity getCssVar('transition-duration'), transform 0.4s, top 0.4s;
  padding: getCssVar('message', 'padding');
  display: flex;
  z-index: 1000;
  align-items: center;
  > span {
    padding: 10px;
  }
  @include when(success) {
    background-color: #f0f9eb;
    color: #529b2e;
  }
  @include when(warning) {
    background-color: #fdf6ec;
    color: #e7a645;
  }
  @include when(info){
    background-color: #f4f4f5;
    color: #73767a;
  }
  @include when(error) {
    background-color: #fef0f0;
    color: #c45656;
  }
  @include e(icon) {
    margin-left: 10px;
  }
}
// .cz-message-fade-enter-active {
//   transition: all .3s ease-in;
// }
// .cz-message-fade-leave-active {
//   transition: all .3s ease-out;
// }
.#{$namespace}-message-fade-enter-from,
.#{$namespace}-message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}