.cz-message {
  position: fixed;
  left: 50%;
  z-index: 9999;
  width: 380px;
  height: 40px;
  margin-left: -190px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  border-radius: 5px;
  transition: top .3s ease-out;
  &.success {
    background-color: #f0f9eb;
    color: #529b2e;
  }
  &.warning {
    background-color: #fdf6ec;
    color: #b88230;
  }
  &.message {
    background-color: #f4f4f5;
    color: #73767a;
  }
  &.error {
    background-color: #fef0f0;
    color: #c45656;
  }
}
.cz-message-fade-enter-active {
  transition: all .3s ease-in;
}
.cz-message-fade-leave-active {
  transition: all .3s ease-out;
}
.cz-message-fade-enter-from,
.cz-message-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}