.co-swiper {
  width: 100%;
  height: 100%;
  &-item {
    width: 100%;
    height: 100%;
  }
}
.is-swiper-button-show {
  display: block;
}
.is-swiper-button-hide {
  display: none;
}
.swiper .hide{
  //opacity:0;
}
.swiper-button-next,.swiper-button-prev{
  transition:opacity 0.5s;
}