$namespace: 'cz' !default;
$common-separator: '-' !default;
$element-separator: '__' !default;
$modifier-separator: '--' !default;
$state-prefix: 'is-' !default;

/**
* 命名规范 BEM规范

<div class="z-cell">
    <div class="z-cell__label"></div>
    <div class="z-cell__value is_check"></div>
</div>

*/