
@use '../mixins/config.scss' as * ;

@font-face {
  font-family: "#{$namespace}-icon"; /* Project id 3710201 */
  src: url('./fonts/iconfont.woff2?t=1665979339691') format('woff2'),
       url('./fonts/iconfont.woff?t=1665979339691') format('woff'),
       url('./fonts/iconfont.ttf?t=1665979339691') format('truetype');
}

.#{$namespace}-icon {
  font-family: "#{$namespace}-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-refresh:before {
  content: "\e6a4";
}

.#{$namespace}-icon-unlock:before {
  content: "\e6c2";
}

.#{$namespace}-icon-link:before {
  content: "\e62a";
}

.#{$namespace}-icon-Import:before {
  content: "\e791";
}

.#{$namespace}-icon-file:before {
  content: "\e7bb";
}

.#{$namespace}-icon-stop:before {
  content: "\e842";
}

.#{$namespace}-icon-code:before {
  content: "\e747";
}

.#{$namespace}-icon-explain:before {
  content: "\e672";
}

.#{$namespace}-icon-filter:before {
  content: "\e675";
}

.#{$namespace}-icon-layers:before {
  content: "\e676";
}

.#{$namespace}-icon-menu:before {
  content: "\e677";
}

.#{$namespace}-icon-mic:before {
  content: "\e678";
}

.#{$namespace}-icon-more:before {
  content: "\e67a";
}

.#{$namespace}-icon-operation:before {
  content: "\e67c";
}

.#{$namespace}-icon-print:before {
  content: "\e67d";
}

.#{$namespace}-icon-navigation:before {
  content: "\e67e";
}

.#{$namespace}-icon-pdf:before {
  content: "\e680";
}

.#{$namespace}-icon-prompt:before {
  content: "\e681";
}

.#{$namespace}-icon-security:before {
  content: "\e683";
}

.#{$namespace}-icon-upload:before {
  content: "\e684";
}

.#{$namespace}-icon-cut:before {
  content: "\e66d";
}

.#{$namespace}-icon-home:before {
  content: "\e6b8";
}

.#{$namespace}-icon-lock:before {
  content: "\e6c0";
}

.#{$namespace}-icon-help:before {
  content: "\e6a3";
}

.#{$namespace}-icon-camera:before {
  content: "\e600";
}

.#{$namespace}-icon-electronics:before {
  content: "\e6da";
}

.#{$namespace}-icon-scanning:before {
  content: "\e6ec";
}

.#{$namespace}-icon-search:before {
  content: "\e699";
}

.#{$namespace}-icon-add:before {
  content: "\e767";
}

.#{$namespace}-icon-error-filling:before {
  content: "\e612";
}

.#{$namespace}-icon-cry:before {
  content: "\e6b9";
}

.#{$namespace}-icon-loading:before {
  content: "\e644";
}

.#{$namespace}-icon-info-circle:before {
  content: "\e77e";
}

.#{$namespace}-icon-adduser:before {
  content: "\e7ae";
}

.#{$namespace}-icon-file-add:before {
  content: "\e7b7";
}

.#{$namespace}-icon-download:before {
  content: "\e7ef";
}

.#{$namespace}-icon-info-circle-fill:before {
  content: "\e844";
}

.#{$namespace}-icon-warning-circle-fill:before {
  content: "\e848";
}

.#{$namespace}-icon-file-add-fill:before {
  content: "\e857";
}

.#{$namespace}-icon-home-fill:before {
  content: "\e867";
}

.#{$namespace}-icon-lock-fill:before {
  content: "\e86a";
}

.#{$namespace}-icon-camera-fill:before {
  content: "\e86f";
}

.#{$namespace}-icon-help-fill:before {
  content: "\e87a";
}

.#{$namespace}-icon-warning:before {
  content: "\e73d";
}

.#{$namespace}-icon-eye-close:before {
  content: "\e8ff";
}

.#{$namespace}-icon-add-circle-fill:before {
  content: "\e849";
}

.#{$namespace}-icon-ashbin:before {
  content: "\e744";
}

.#{$namespace}-icon-add-fill:before {
  content: "\e777";
}

.#{$namespace}-icon-good-fill:before {
  content: "\e780";
}

.#{$namespace}-icon-pin-fill:before {
  content: "\e788";
}

.#{$namespace}-icon-success-fill:before {
  content: "\e78d";
}

.#{$namespace}-icon-arrow-up-circle-fill:before {
  content: "\eba6";
}

.#{$namespace}-icon-3column:before {
  content: "\e663";
}

.#{$namespace}-icon-column-4:before {
  content: "\e664";
}

.#{$namespace}-icon-add-circle:before {
  content: "\e665";
}

.#{$namespace}-icon-adjust:before {
  content: "\e666";
}

.#{$namespace}-icon-arrow-up-circle:before {
  content: "\e667";
}

.#{$namespace}-icon-arrow-right-circle:before {
  content: "\e668";
}

.#{$namespace}-icon-comment:before {
  content: "\e669";
}

.#{$namespace}-icon-elipsis:before {
  content: "\e66e";
}

.#{$namespace}-icon-error:before {
  content: "\e66f";
}

.#{$namespace}-icon-file-delete:before {
  content: "\e670";
}

.#{$namespace}-icon-good:before {
  content: "\e673";
}

.#{$namespace}-icon-hide:before {
  content: "\e674";
}

.#{$namespace}-icon-notification:before {
  content: "\e679";
}

.#{$namespace}-icon-pin:before {
  content: "\e67b";
}

.#{$namespace}-icon-success:before {
  content: "\e67f";
}

.#{$namespace}-icon-user:before {
  content: "\e682";
}

.#{$namespace}-icon-arrow-up-bold:before {
  content: "\e685";
}

.#{$namespace}-icon-close-bold:before {
  content: "\e686";
}

.#{$namespace}-icon-select-bold:before {
  content: "\e687";
}

.#{$namespace}-icon-comment-filling:before {
  content: "\e689";
}

.#{$namespace}-icon-delete-filling:before {
  content: "\e68a";
}

.#{$namespace}-icon-notification-filling:before {
  content: "\e68b";
}

.#{$namespace}-icon-user-filling:before {
  content: "\e68c";
}

.#{$namespace}-icon-warning-filling:before {
  content: "\e68d";
}

.#{$namespace}-icon-cry-filling:before {
  content: "\e68e";
}

.#{$namespace}-icon-warn:before {
  content: "\e671";
}

.#{$namespace}-icon-copy:before {
  content: "\e720";
}

.#{$namespace}-icon-ashbin-fill:before {
  content: "\e60d";
}

.#{$namespace}-icon-arrow-right-circle-fill:before {
  content: "\e807";
}

.#{$namespace}-icon-download-fill:before {
  content: "\e8c9";
}

